@font-face {
    font-family: tripFont;
    src: url(fonts/Righteous-Regular.ttf);
}

body {
    background: url('http://www.theplaidzebra.com/wp-content/uploads/2017/03/road-trip-7.jpg');
    font-family: tripFont;
    overflow-y: scroll;
    background-repeat: no-repeat;
	background-size: cover;
    background-attachment: fixed;
}

.navbar {
    background: #E5E3D7;
    border-color: #E5E3D7;
}

.navbar-brand img {
    font-weight: bold;
}

.navbar-brand img {
    height: 30px;
    margin-top: -5px;
    margin-right: 10px;
    float: left;
}

.navbar-default .navbar-nav>li>a,
.navbar-default .navbar-nav>li>a:focus,
.navbar-default .navbar-nav>li>a:hover {
    color: #4d4d26;
}

.navbar-default .navbar-nav>li>a:focus,
.navbar-default .navbar-nav>li>a:hover {
    text-decoration: underline;
}

.landing-main-text {
    color: #fff;
    font-size: 80px;
    margin-top: 7.5%;
    min-height: 400px;
}

.landing-main-text p {
    background: rgba(0,0,0,0.5);
    display: inline;
    padding: 5px 15px;
}

.landing-features {
    background: #E5E3D7;
    width: 100%;
    padding: 40px;
    text-align: center;
	bottom: 0;
    position: absolute;
}

.landing-features h1 {
    display: inline;
}

.landing-features .fa {
    font-size: 2em;
    margin: 0 10px;
}

.landing-features img {
    width: 50px;
    opacity: 0.7;
}

.landing-features h4 {
    max-width: 225px;
    margin: 0 auto;
}

table {
    border-collapse: collapse;
    background: rgba(229, 227, 215, 0.9);
    border-color: #E5E3D7;
}

table, th, td {
    border: 1px solid black;
}

th,td {
    text-align: center;
    height: 28px;
}

.btn-group>.btn {
    margin: 5px 0px;
}

.sign-in-modal .modal-content {
    background: #E5E3D7;
}

.sign-in-modal .modal-header {
    border-bottom: 1px solid #000;
}

.modal-open .modal {
    overflow-y: scroll;
}

.res-modal {
    position: relative;
    width: 100%;
    height: 0;
    padding-bottom: 56.25%;
}

.video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.btn-sign-in {
    width: 100%;
}

.container {
    max-width: 1280px;
}

.container-bordered {
        background: rgba(229, 227, 215, 0.9);
    border: 2px solid #000;
    padding: 40px 50px;
    min-height: 500px;
}

.panel-info {
    border-color: #7b7b7b;
}

.panel-info>.panel-heading {
    color: #000000;
    background-color: #949494;
    border-color: #8c8c8c;
}

.list-group-item {
	border: none;
    padding: 5px;
}

.list-group-item .input-group {
	width: 100%;
}

.list-group-item .input-group-addon {
	width: 22%;
}

.fa-window-maximize {
	cursor: pointer;
}

#placesTableContainer table, #placesTableContainer  td {
	border: none;
}