<div class="text-center">
	<h1>Add trip</h1>
	<p>Create new trip to remember about it!</p>
</div>
<div class="container container-bordered">
	<div class="row">
		<div class="col-md-6">
			<div class="row">
				<div class="panel panel-info">
					<div class="panel-heading">Trip Name</div>
					<div class="panel-body">
						<input type="text" id="tripName" placeholder="Name" style="width: 100%">
					</div>
				</div>
			</div>
			<div class="row">
				<div class="panel panel-info">
					<div class="panel-heading">Trip Description</div>
					<div class="panel-body">
						<textarea rows="4" cols="70" id="tripDesc" placeholder="Description"></textarea>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="panel panel-info">
					<div class="panel-heading">Select trip file (gpx or kml)</div>
					<div class="panel-body">
						<input type="file" id="tripFile" name="tripFile" />
					</div>
		    	</div>
			</div>
			<div class="row">
				<a class="btn btn-success" style="width: 100%" id="uploadBtn">Upload trip</a>
			</div>
			<div class="row">
				<div class="panel panel-info" id="tripContent" style="display: none">
					<div class="panel-heading">Trip features</div>
					<div class="panel-body">
						<ul class="list-group">
			    		</ul>
					</div>
				</div>
				<div id="errMsg">
				</div>
				<div id="successMsg">
				</div>
			</div> 
		</div>
		<div class="col-md-6">
			<div id="map"></div> 
		</div>
	</div>
</div>
<script src="app/pages/addTrip.js"></script>