<div class="text-center">
	<h1></h1> <!-- edit trip, leave empty -->
</div>
<div class="container container-bordered">
	<div class="row">
		<div class="col-md-6">
			<div class="row">
				<div class="panel panel-info" id="editTripContent" style="display: none">
					<div id="editTripContentInfo"></div>
					<div class="panel-heading">Info</div>
					<div class="panel-body">
						<ul class="list-group" style="margin-bottom: 0"></ul>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="panel panel-info">
					<div class="panel-heading">Visited places<i class="fa fa-window-maximize pull-right" aria-hidden="true" data-toggle="collapse" data-target="#placesTableContainer"></i></div>
					<div class="panel-body collapse in" id="placesTableContainer">
						<table style="width:100%; background: #fff;">
							<thead style="border-bottom: 1px solid #000;">
								<tr>
									<td>ID</td>
									<td>Name</td>
									<td>Description</td>
							</thead>
							<tbody id="placesTable">
							</tbody>
						</table>
					</div>
				</div>
				<div class="panel panel-info">
					<div class="panel-heading">Poster</div>
					<div class="panel-body">
						<button id="generatePosterBtn" class="btn btn-primary" onclick="generatePoster()" >Generate Poster</button>
						<button id="showPosterBtn" style="display: none" class="btn btn-primary" onclick="showPoster()" >Show Poster</button>
					</div>
				</div>
				<div class="panel panel-info">
					<div class="panel-heading">Presentation</div>
					<div class="panel-body">
						<button id="generatePresBtn" class="btn btn-primary" onclick="generatePresentation()" >Generate Presentation</button>
						<button id="showPresBtn" style="display: none" class="btn btn-primary" onclick="showVideo()" >Show Presentation</button>
					</div>
				</div>
				<button class="btn btn-success pull-right"  style="width:30%" disabled>Save</button>
				<button class="btn btn-danger pull-right" data-toggle="modal" data-target="#deleteModal" style="width:20%; margin: 0 10px">Delete</button>
			</div>
			<div class="row">
				<div id="errMsg"></div>
				<div id="successMsg"></div>
			</div>
		</div>
		<div class="col-md-6">
			<div id="map"></div>
		</div>
	</div>
</div>

<div id="myModal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
			</div>
			<div class="modal-body res-modal">
				<img src=""/>
			</div>
		</div>
	</div>
</div>

<div id="myVidModal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
			</div>
			<div class="modal-body res-modal">
				<video src=""/>
			</div>
		</div>
	</div>
</div>

<div class="modal fade" id="deleteModal">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<span style="font-size: 20px">Delete trip</span>
				<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
			</div>
			<div class="modal-body">
				<p>Are you sure you want to remove the trip?</p>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
				<button type="button" class="btn btn-danger" ng-click="deleteTrip()" data-dismiss="modal">Delete</button>
			</div>
    	</div>
    </div>
</div>

<script src="app/pages/editTrip.js"></script>
