<div class="landing-main-text text-center">
	<p>Tripper</p><br>
	<p>Never forget about your trip!</p>
</div>
<div class="landing-features">
	<div class="row" style="margin-bottom: 40px">
		<i class="fa fa-angle-double-right" aria-hidden="true"></i>
		<h1>What do we offer?</h1>
		<i class="fa fa-angle-double-left" aria-hidden="true"></i>
	</div>
	<div class="row">
		<div class="col-md-4">
			<img src="assets/images/hiker.png">
			<h3>Add</h3>
			<h4>Add your trips, import photos from camra and pin them to approriate locations</h4>
		</div>
		<div class="col-md-4">
			<img src="assets/images/map.png">
			<h3>Browse</h3>
			<h4>Browse your trips on the map, trace your journeys and remaind yourself the experience</h4>
		</div>
		<div class="col-md-4">
			<img src="assets/images/route.png">
			<h3>Import</h3>
			<h4>Import GPS data directly from you GPX files creating trips just in few seconds</h4>
		</div>
	</div>
</div>
