<div class="text-center">
	<h1>My Trips</h1>
	
	<p>{{ message }}</p>

	<table style="margin: 0 auto; width: 80%;">
		<thead>
			<tr>
				<th><h4>#Id</h4></th>
				<th style="width: 70%;"><h4>Name</h4></th>
				<th style="width: 10%;"><h4>Actions</h4></th>
			</tr>
		</thead>
		<tbody>
			<tr ng-repeat="(key, value) in myObj">
				<td>{{value.id}}</td>
				<td style="width: 70%;">{{value.name}}</td>
				<td style="width: 10%;">
					<div class="btn-group">
						<button type="button" class="btn btn-success btn-sm glyphicon glyphicon-pencil" ng-click="edit(value.id)"/>

						<button type="button" ng-if="!posters[value.id]" class="btn btn-success btn-sm glyphicon"><i class='fa fa-circle-o-notch fa-spin '></i></button>
						<button type="button" ng-if="posters[value.id]" class="btn btn-success btn-sm glyphicon glyphicon-file" ng-click="showPoster(value.id, posters[value.id].link)"/>

						<button type="button" ng-if="!presentations[value.id]" class="btn btn-success btn-sm glyphicon"><i class='fa fa-circle-o-notch fa-spin '></i></button>
					  	<button type="button" ng-if="presentations[value.id]" class="btn btn-success btn-sm glyphicon glyphicon-expand" ng-click="showVideo(value.id, presentations[value.id].link)"/>
					</div>
				</td>
			</tr>
  		</tbody>
	</table>

	<div id="myModal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
				</div>
				<div class="modal-body res-modal">
					<iframe class="video" frameborder="0" allowfullscreen=""></iframe>
				</div>
			</div>
		</div>
	</div>

</div>